/*Header section*/

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header h1 {
    margin-top: 61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    text-decoration: none;
}

.h1 {
    text-decoration: none;
    color: black;
}

.colortext {
    color: skyblue;
}

ul>li a:hover {
    border: 15px solid #63696E;
    background: #63696E;
    color: rgb(255, 255, 255);
}

ul>li a p:hover {
    border: auto solid rgb(14, 3, 63);
    background: rgb(14, 3, 63);
    color: rgb(255, 255, 255);
}

.fon {
    margin-top: 38px;
    height: 72px;
    background: #35444F;
}

.menu-header {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.menu-header li a {
    text-decoration: none;
    color: white;
}

.line {
    margin-top: 0px;
    border-left: 1px solid white;
    height: 46px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 26px;
}


/*Header section*/


/*Main section*/

.main {
    display: flex;
}

.aside-fon {
    margin-top: 50px;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}

.aside-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
}

.aside-menu li a {
    text-decoration: none;
    color: #485863;
}

.main-section-pic {
    margin-top: 50px;
    margin-left: 52px;
    border: 1px solid skyblue;
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.3);
}

.main-section-LoremR {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 52px;
}

.main-section-LoremE {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 34px;
    margin-left: 52px;
}


/*Main section*/


/*Footer section*/

.fon-bott {
    margin-top: 54px;
    height: 69px;
    background: #63696E 48%;
}

.menu-footer {
    list-style-type: none;
    width: 928px;
    height: 69px;
    padding-inline-start: 20px;
    padding-inline-end: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.menu-footer li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-top: -75px;
    text-align: right;
    padding-right: 40px;
}


/*Footer section*/