/*Menu section*/

body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
}

.container-menu {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.container-menu li a {
    text-decoration: none;
    color: #FF0000;
    padding-right: 72px;
}


/*Menu section*/


/*Picture section*/

.header-picture {
    width: 100%;
}


/*Picture section*/


/*Main text*/

.main_text {
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    color: #373737;
}

.main_text-introduction {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
}

.main_text-Lorem {
    font-family: Montserrat;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-top: 38px;
}

.main_text-Vestibulum {
    font-family: Montserrat;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-top: 28px;
    margin-bottom: 66px;
}

.main_button--text {
    font-family: Montserrat;
    background-color: #FF0000;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 43px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
}


/*Main text*/


/*Footer*/

.footer {
    margin-top: 82px;
    text-align: right;
    font-weight: bold;
}


/*Footer*/